#wrapper {
	width: 100%;
	text-align: center;
}

#pad {
	width: 80%;
	margin: 10px auto;
}

.dots {
	background-color: #ccc;
	margin: 1px;
	float: left;
}

form {
	display: inline-block;
}

#button {
	display: inline-block;
	height: 20px;
	width: 80px;
	background-color: black;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}